.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/24936.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.home-img {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.home-title {
  font-weight: 800;
  font-size: 5rem;
  margin-bottom: 20px;
  color: #978b8b;
}

.home-p {
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
  color: #707070;
}

.home-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.home-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #939090;
  border-radius: 10px;
  outline: none;
  text-transform: capitalize;
}

.home-btn {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #d93f3f;
}
