.pokeinfo-container {
  display: flex;
  height: 350px;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pokeinfo-img {
  position: absolute;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokeinfo_bg {
  position: absolute;
  width: 80%;
  max-width: 1100px;
  height: 150px;
  bottom: -1px;
  right: auto;
  left: auto;
  border-radius: 8px;
}

.pokeinfo-data {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  margin-top: 15px;
  text-transform: capitalize;
}

.pokeinfo-id {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.pokeinfo-wyh {
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;

  font-size: 35px;
}

.pokeinfo-span {
  font-size: 30px;
  font-weight: 700;
  color: #aaa;
}

.pokeinfoW-span {
  font-size: 30px;
  font-weight: 500;
  color: rgb(95, 93, 93);
}

.pokeinfo-tya {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  list-style: none;
  padding: 2rem;
}

.pokeinfo-types {
  display: flex;
  text-align: center;
  min-height: 98px;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  gap: 5px;
  box-shadow: 0 3px 6px #00000080;
  border-radius: 10px;
}

.pokeinfo-text {
  margin: 10px auto 0;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 25px;
}

.pokeinfo-type {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.pokeinfo-type_li {
  justify-content: center;
  width: 140px;
  height: 38px;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  padding: 8px 0 20px;
  color: rgb(241, 241, 241);
  background-color: rgb(184, 196, 196);
}
.pokeinfo-abilities {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  min-height: 98px;
  gap: 5px;
  box-shadow: 0 3px 6px #00000080;
  border-radius: 10px;
}
.poke-abilities {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.pokeinfo-ability {
  justify-content: center;
  width: 140px;
  margin-bottom: 10px;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  background: #aaa;
  padding: 6px;
  color: #fff;
}
.pokeinfo-container-stats {
  display: flex;
  flex-direction: column;
  height: 500px;
  gap: 9px;
  list-style: none;
}

.pokeH2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 50px;
}
.pokestats {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  box-shadow: 0 3px 6px #00000080;
  border-radius: 10px;
  gap: 10px;
  text-transform: capitalize;
}

.pokeStats {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  align-items: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.pokemoves {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: #000;
  font-size: 50px;
  font-weight: 500;
}

.pokemovement {
  display: flex;
  flex-direction: column;
}

.pokeli {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: auto;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0 5px 10px #00000080;
  overflow: hidden;
  color: rgb(95, 93, 93);
  font-size: 25px;
}
