.poke-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 2em;
}

.pokedex-span {
  font-size: 1.5rem;
  color: #dd1a1a;
  font-weight: 700;
  line-height: 25px;
  text-transform: capitalize;
}

.pokedex-container {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.pokedex-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.pokedex-input {
  width: 100%;
  height: 40px;
  border: 1px solid #fe1936;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1em;
  outline: none;
}

.pokedex-btn {
  width: 20%;

  padding: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #d93f3f;
}

.pokedex-select {
  width: 40%;
  height: 40px;
  border: 1px solid #fe1936;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 1em;
  outline: none;
  margin-left: 30px;
}
